.xkcd {
	@extend $antialiased;

	&.-example {
		.about {
			.title,
			.description {
				color: $colors.yellow;
				opacity: 1;
				transform: translateY(0);
			}

			.navigation {
				.item {
					opacity: 1;
				}
			}
		}
	}
}
