// @stylint off
$z-index = {
	zero: 0,
	behind: 3,
	content: 6,
	context: 9,
	layer: 11,
	over: 12
};

$viewports = {
	mobile: 767px,
	tablet: 768px,
	notebook: 1024px,
	desktop: 1367px
};
// @stylint on
